In [1]:
# let's first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\shank\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sortedcontainers in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\shank\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\shank\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shank\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shank\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [4]:
#onpening the naukri.com website on automated chrome window
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
#onpening the naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [6]:
#Finding element for job search bar
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
#Entering Location banglore in location search bar
#search_field_for_designation = driver.find_element_by_class_name('suggestor-input ')
#here we have check that we are getting same class name so we have to use xpath for this

In [43]:
##Entering Location banglore in location search bar using xpath

location=driver.find_element(By.XPATH,"//html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [44]:
#Clicking on search bar button

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
# scrapping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']") 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scrapping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
# scrapping experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),)

10 10 10 10

In [16]:
# creating Data frame

In [17]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'exeperience_required':experience_required})
df

,job_title,job_location,company_name,exeperience_required
0,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
2,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,1-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Mobile Premier League,2-5 Yrs
4,Senior Data Analyst - Track,Bangalore/Bengaluru,G2 Crowd,3-8 Yrs
5,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
6,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,"Associate Data Analyst, Connect",Bangalore/Bengaluru,Yara Communications,0-2 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Yara Communications,5-7 Yrs
9,Data Analyst - 3,Bangalore/Bengaluru,Varite,3-5 Yrs